In [4]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [5]:
GDP_file = "../Resources/GDP.csv"
GDP_df = pd.read_csv(GDP_file)
GDP_df

,SDG_IND,Indicator,LOCATION,Country,TIME,Time,Value,Flag Codes,Flags
0,XGDP_FSGOV,Government expenditure on education as a perce...,CHL,Chile,2015,2015,4.87531,NaN,NaN
1,XGDP_FSGOV,Government expenditure on education as a perce...,CHL,Chile,2016,2016,5.34201,NaN,NaN
2,XGDP_FSGOV,Government expenditure on education as a perce...,CHL,Chile,2017,2017,5.41966,NaN,NaN
3,XGDP_FSGOV,Government expenditure on education as a perce...,CHL,Chile,2018,2018,5.43317,NaN,NaN
4,XGDP_FSGOV,Government expenditure on education as a perce...,IND,India,2015,2015,3.28573,NaN,NaN
...,...,...,...,...,...,...,...,...,...
763,XGDP_FSGOV,Government expenditure on education as a perce...,SUR,Suriname,2015,2015,5.92651,+,National Estimation
764,XGDP_FSGOV,Government expenditure on education as a perce...,SUR,Suriname,2016,2016,5.98030,+,National Estimation
765,XGDP_FSGOV,Government expenditure on education as a perce...,SUR,Suriname,2017,2017,6.10751,+,National Estimation
766,XGDP_FSGOV,Government expenditure on education as a perce...,SUR,Suriname,2018,2018,5.68860,+,National Estimation
767,XGDP_FSGOV,Government expenditure on education as a perce...,SUR,Suriname,2019,2019,7.23706,+,National Estimation

### Transform GDP DataFrame

In [6]:
GDP_df = GDP_df[['SDG_IND','Indicator','Country','Time','Value']]
GDP_df

,SDG_IND,Indicator,Country,Time,Value
0,XGDP_FSGOV,Government expenditure on education as a perce...,Chile,2015,4.87531
1,XGDP_FSGOV,Government expenditure on education as a perce...,Chile,2016,5.34201
2,XGDP_FSGOV,Government expenditure on education as a perce...,Chile,2017,5.41966
3,XGDP_FSGOV,Government expenditure on education as a perce...,Chile,2018,5.43317
4,XGDP_FSGOV,Government expenditure on education as a perce...,India,2015,3.28573
...,...,...,...,...,...
763,XGDP_FSGOV,Government expenditure on education as a perce...,Suriname,2015,5.92651
764,XGDP_FSGOV,Government expenditure on education as a perce...,Suriname,2016,5.98030
765,XGDP_FSGOV,Government expenditure on education as a perce...,Suriname,2017,6.10751
766,XGDP_FSGOV,Government expenditure on education as a perce...,Suriname,2018,5.68860
767,XGDP_FSGOV,Government expenditure on education as a perce...,Suriname,2019,7.23706

In [25]:
# Access columns for dates 2015, 2016 & 2017
#GDP_dates_df = GDP_df.groupby(['Time'])
#GDP_dates_df

In [37]:


GDP_trim_df = GDP_df.loc[GDP_df["Time"] <2018]
GDP_trim_df

,SDG_IND,Indicator,Country,Time,Value
0,XGDP_FSGOV,Government expenditure on education as a perce...,Chile,2015,4.87531
1,XGDP_FSGOV,Government expenditure on education as a perce...,Chile,2016,5.34201
2,XGDP_FSGOV,Government expenditure on education as a perce...,Chile,2017,5.41966
4,XGDP_FSGOV,Government expenditure on education as a perce...,India,2015,3.28573
5,XGDP_FSGOV,Government expenditure on education as a perce...,India,2016,3.45098
...,...,...,...,...,...
760,XGDP_FSGOV,Government expenditure on education as a perce...,Greenland,2016,11.08614
761,XGDP_FSGOV,Government expenditure on education as a perce...,Greenland,2017,11.02856
763,XGDP_FSGOV,Government expenditure on education as a perce...,Suriname,2015,5.92651
764,XGDP_FSGOV,Government expenditure on education as a perce...,Suriname,2016,5.98030
765,XGDP_FSGOV,Government expenditure on education as a perce...,Suriname,2017,6.10751

In [18]:
GERD_file = "../Resources/GERD.csv"
GERD_df = pd.read_csv(GERD_file)
GERD_df

,INDICATOR,Indicator,LOCATION,Country,TIME,Time,Value,Flag Codes,Flags
0,20600,GERD - Total (in '000 local currency),AUS,Australia,2013,2013,3.347150e+07,NaN,NaN
1,20600,GERD - Total (in '000 local currency),AUS,Australia,2015,2015,3.117900e+07,NaN,NaN
2,20600,GERD - Total (in '000 local currency),AUS,Australia,2017,2017,3.306200e+07,NaN,NaN
3,20600,GERD - Total (in '000 local currency),AUT,Austria,2013,2013,9.571282e+06,NaN,NaN
4,20600,GERD - Total (in '000 local currency),AUT,Austria,2014,2014,1.027518e+07,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6527,EXPGDP_TOT,GERD as a percentage of GDP,MRT,Mauritania,2018,2018,1.081000e-02,NaN,NaN
6528,EXPCAPPPP_CUR,GERD per capita (in current PPP$),MRT,Mauritania,2018,2018,5.577300e-01,NaN,NaN
6529,EXPPPP_CUR,GERD in '000 current PPP$,MRT,Mauritania,2018,2018,2.455848e+03,NaN,NaN
6530,EXPPPP_CONST,GERD in '000 PPP$ (in constant prices - 2005),MRT,Mauritania,2018,2018,1.929943e+03,NaN,NaN
6531,EXPCAPPPP_CONST,"GERD per capita (in PPP$, constant prices - 2005)",MRT,Mauritania,2018,2018,4.382900e-01,NaN,NaN

### Transform GERD DataFrame

In [40]:
# Create a filtered dataframe from specific columns

GERD_df = GERD_df[['INDICATOR','Indicator','Country','Time','Value']]

KeyError: "['INDICATOR'] not in index"

In [41]:
# Rename the column headers
GERD_df=GERD_df.rename(columns={'INDICATOR':'GERD_INDICATOR'})
GERD_df

,GERD_INDICATOR,Indicator,Country,Time,Value
0,20600,GERD - Total (in '000 local currency),Australia,2013,3.347150e+07
1,20600,GERD - Total (in '000 local currency),Australia,2015,3.117900e+07
2,20600,GERD - Total (in '000 local currency),Australia,2017,3.306200e+07
3,20600,GERD - Total (in '000 local currency),Austria,2013,9.571282e+06
4,20600,GERD - Total (in '000 local currency),Austria,2014,1.027518e+07
...,...,...,...,...,...
6527,EXPGDP_TOT,GERD as a percentage of GDP,Mauritania,2018,1.081000e-02
6528,EXPCAPPPP_CUR,GERD per capita (in current PPP$),Mauritania,2018,5.577300e-01
6529,EXPPPP_CUR,GERD in '000 current PPP$,Mauritania,2018,2.455848e+03
6530,EXPPPP_CONST,GERD in '000 PPP$ (in constant prices - 2005),Mauritania,2018,1.929943e+03
6531,EXPCAPPPP_CONST,"GERD per capita (in PPP$, constant prices - 2005)",Mauritania,2018,4.382900e-01

In [44]:
GERD_trim_df=GERD_df.loc[GERD_df['GERD_INDICATOR']== 'EXPGDP_TOT']
GERD_trim_df

,GERD_INDICATOR,Indicator,Country,Time,Value
1445,EXPGDP_TOT,GERD as a percentage of GDP,Australia,2013,2.17870
1446,EXPGDP_TOT,GERD as a percentage of GDP,Australia,2015,1.91918
1447,EXPGDP_TOT,GERD as a percentage of GDP,Australia,2017,1.87466
1448,EXPGDP_TOT,GERD as a percentage of GDP,Austria,2013,2.95492
1449,EXPGDP_TOT,GERD as a percentage of GDP,Austria,2014,3.08429
...,...,...,...,...,...
6484,EXPGDP_TOT,GERD as a percentage of GDP,Eswatini,2015,0.26661
6492,EXPGDP_TOT,GERD as a percentage of GDP,Syrian Arab Republic,2015,0.02053
6497,EXPGDP_TOT,GERD as a percentage of GDP,CÃ´te d'Ivoire,2016,0.07040
6505,EXPGDP_TOT,GERD as a percentage of GDP,Angola,2016,0.03229
6527,EXPGDP_TOT,GERD as a percentage of GDP,Mauritania,2018,0.01081

In [45]:
dates = [2013, 2014, 2018]
GERD_clean_df=GERD_trim_df[GERD_trim_df.Time.isin(dates) == False]
GERD_clean_df

,GERD_INDICATOR,Indicator,Country,Time,Value
1446,EXPGDP_TOT,GERD as a percentage of GDP,Australia,2015,1.91918
1447,EXPGDP_TOT,GERD as a percentage of GDP,Australia,2017,1.87466
1450,EXPGDP_TOT,GERD as a percentage of GDP,Austria,2015,3.04969
1451,EXPGDP_TOT,GERD as a percentage of GDP,Austria,2016,3.11659
1452,EXPGDP_TOT,GERD as a percentage of GDP,Austria,2017,3.04885
...,...,...,...,...,...
6479,EXPGDP_TOT,GERD as a percentage of GDP,Papua New Guinea,2016,0.03158
6484,EXPGDP_TOT,GERD as a percentage of GDP,Eswatini,2015,0.26661
6492,EXPGDP_TOT,GERD as a percentage of GDP,Syrian Arab Republic,2015,0.02053
6497,EXPGDP_TOT,GERD as a percentage of GDP,CÃ´te d'Ivoire,2016,0.07040
6505,EXPGDP_TOT,GERD as a percentage of GDP,Angola,2016,0.03229

In [47]:
TotalRD_file = "../Resources/TotalR&D.csv"
TotalRD_df = pd.read_csv(TotalRD_file)
TotalRD_df

FileNotFoundError: [Errno 2] No such file or directory: '../Resources/TotalR&D.csv'

In [5]:
county_cols = ["ID", "County Name (Licensee)", "County ID Code", "License Count"]
county_transformed = county_df[county_cols].copy()

# Rename the column headers
county_transformed = county_transformed.rename(columns={"ID": "id",
                                                         "County Name (Licensee)": "county_name",
                                                         "License Count": "license_count",
                                                         "County ID Code": "county_id"})

# Set index
county_transformed.set_index("id", inplace=True)

county_transformed.head()

    county_name  county_id  license_count
id
0        ALBANY          5             77
1      ALLEGANY         59              4
2         BRONX          0            104
3        BROOME         35             14
4   CATTARAUGUS         41              9

### Create database connection

In [6]:
connection_string = "postgres:postgres@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{connection_string}')

In [7]:
# Confirm tables
engine.table_names()

['county', 'premise']

### Load DataFrames into database

In [8]:
premise_transformed.to_sql(name='premise', con=engine, if_exists='append', index=True)

In [9]:
county_transformed.to_sql(name='county', con=engine, if_exists='append', index=True)